/* blackboard style */
body {
   background-color: #2b2b2b; /* gray17 */
   background: white url("/Users/andy.miller/etc/page-background.png") repeat;
   color: #707070; /* gray44 */
}

a, a:link {
   color: #a3a3a3; /* gray64 */
}
a:visited {
   color: #707070; /* gray44 */
}
a:hover {
   color: #d2b48c; /* tan */
}

td.vbar {
   background-color: #a3a3a3; /* gray64 */
   max-width: 1px;
   min-width: 1px;
   width: 10px;
}
td.vbar2 {
   background-color: #a3a3a3; /* gray64 */
   min-width: 1px;
   width: 1px;
}

section {
   background: #222;
   border: 1px solid #660002;
}

section.priority-high {
   border: 1px solid #da70d6;
}
section.priority-mid {
   border: 2px solid #667702;
}

hr {
   background-color: #660002;
}

.whitebox {
   background-color: #ccc;
}
